.notification-bar {
  display: block;
}
.notification-bar__dismiss {
  display: none;
}
.notification-bar--hidden, .notification-bar--visible {
  display: inherit;
}

.stick-to-top {
  position: relative;
}